body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  background-color: white;
  color: black;
  font-size: 13px;
  font-family: "Roboto-Regular", Arial, sans-serif;
  margin: 0;
  overflow: hidden;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

div {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  max-height: 64px;
  justify-content: space-between;
  align-items: center;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: lightgray;
}
.header__title-container {
  z-index: 0;
}
.header__btns {
  position: absolute;
  padding-right: 16px;
  right: 0;
  top: 0;
  height: 64px;
  border: solid;
  border-width: 0 0 1px 0;
  background-color: white;
  border-color: lightgray;
  z-index: 1;
}

.header__description {
  font-size: 40px;
  padding: 8px;
  margin: 4px 0 4px 8px;
  color: #4f8cf4;
  cursor: pointer;
  display: flex;
  align-self: center;
}

.header__tool_bar {
  flex-direction: column;
  font-size: 18px;
}
.header__name {
  align-self: flex-start;
  color: #77737a;
}
.header__title {
  border: 1px solid transparent;
  font-family: "Open Sans", sans-serif;
  border-radius: 2px;
  color: #77737a;
  font-size: 18px;
  font-variant-ligatures: no-contextual;
  height: 20px;
  line-height: 22px;
  min-width: 1px;
  width: 156px;
  margin-top: 3px;
  padding: 4px 7px;
  text-overflow: ellipsis;
}
.header__title:hover {
  border-color: rgba(218, 220, 224, 0.5);
}
.header__title:focus {
  outline-color: blue;
}
.header__star_border {
  cursor: pointer;
}
.header__tools {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0 15px;
  margin: 0;
  padding-inline-start: 0;
}
.header__tool {
  display: flex;
  height: 16px;
  font-size: 14px;
  font-family: "Roboto-Regular", sans-serif;
  white-space: nowrap;
  box-shadow: none;
  border-style: solid;
  border-color: transparent;
  border-width: 1px;
  border-radius: 4px;
  margin: 0;
  padding: 4px 6px;
  cursor: pointer;
}
.header__tool:hover {
  background-color: rgba(218, 220, 224, 0.5);
}
.header__trending_up {
  color: rgb(184, 184, 184);
  margin-left: 15px;
}
.header__insert_comment {
  color: #5f6368;
  cursor: pointer;
  width: 50px;
  height: 50px;
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.header__insert_comment:hover {
  background-color: rgba(218, 220, 224, 0.5);
}
.header__share {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: all 0.218s ease 0s;
  cursor: pointer;
  box-shadow: none;
  box-sizing: border-box;
  font-family: "Roboto-Medium", sans-serif;
  font-size: 14px;
  height: 36px;
  letter-spacing: 0.25px;
  line-height: 16px;
  color: rgb(255, 255, 255);
  text-transform: capitalize;
  border-radius: 4px;
  background: rgb(26, 115, 232);
  padding: 9px 16px 10px 12px;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
  margin-left: 15px;
  margin-right: 6px;
}
.header__share:hover {
  background: rgba(26, 115, 232, 0.5);
}
.header__lock {
  font-size: 14px;
  margin-right: 3px;
}
.header__account {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 10px;
}
.header__account:hover {
  background-color: rgba(218, 220, 224, 0.5);
}
.header__account_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  font-weight: bold;
  height: 32px;
  width: 32px;
  color: rgb(255, 255, 255);
  background: rgb(102, 17, 204);
  cursor: pointer;
  border-radius: 50%;
}

main {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.work-panel {
  flex-direction: column;
  flex-grow: 1;
}

.tools {
  height: 38px;
  display: flex;
  justify-content: space-between;
  padding: 0 21px 0 22px;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: lightgray;
  color: #5f6368;
  flex-grow: 1;
}
.tools i {
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  margin: 6px 5px;
  font-size: 18px;
  font-weight: 500;
}
.tools i:hover {
  background-color: rgba(218, 220, 224, 0.5);
}

.tools__vertical_line {
  background-color: rgba(0, 0, 0, 0.12);
  width: 1px;
  height: 50%;
  border: 0;
  margin-left: 0;
  margin-right: 6px;
}

.tools input {
  border: 1px solid transparent;
  font-family: "Roboto-Medium", sans-serif;
  border-radius: 2px;
  color: #000000;
  font-variant-ligatures: no-contextual;
  height: 20px;
  font-size: 12px;
  line-height: 24px;
  margin: 0 5px 0 0;
  min-width: 1px;
  max-width: 55px;
  text-align: center;
  padding: 2px 8px;
}
.tools input:hover {
  background-color: rgba(218, 220, 224, 0.5);
}
.tools input:focus {
  outline-color: blue;
}
.tools select {
  border: 1px solid transparent;
  font-family: "Roboto-Medium", sans-serif;
  border-radius: 2px;
  color: #77737a;
  background-color: white;
  font-variant-ligatures: no-contextual;
  height: 20px;
  text-align: center;
  line-height: 22px;
  min-width: 1px;
}
.tools select:hover {
  background-color: rgba(218, 220, 224, 0.5);
}
.tools_text_color {
  color: black;
}
.tools__editing {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 2px 7px;
  margin: 0 5px;
}
.tools__editing:hover {
  background-color: rgba(218, 220, 224, 0.5);
}
.tools__editing_name {
  margin: 0 20px 0 0;
}
.tools__dots {
  display: none;
}

.side-panel {
  border: solid;
  border-width: 0 0 0 1px;
  border-color: lightgray;
  width: 55px;
  height: 100vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  right: 0;
  top: 65px;
  background-color: white;
  z-index: 1;
}

.work-panel__horizontal-ruler,
.work-panel__white-ruler {
  flex-wrap: nowrap;
  overflow: hidden;
  height: 13px;
  background-color: #e8eaed;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 0 0 1px 0;
  border-color: #d3d3d3;
}
.work-panel__white-ruler {
  background-color: white;
}
.work-panel__horizontal-ruler span,
.work-panel__white-ruler span {
  color: #3c4043;
  font-size: 10px;
  font-family: "Roboto-Regular", sans-serif;
}
.work-panel__vertical-line_s,
.work-panel__vertical-line_m {
  background-color: #ccced0;
  width: 1px;
  height: 20%;
  border: 0;
  margin: 0 4.5px;
}
.work-panel__vertical-line_m {
  height: 60%;
}
.work-area {
  align-items: flex-start;
  overflow-y: scroll;
  max-height: 88vh;
}

.work-area__vertical-ruler,
.work-area__white-ruler {
  flex-direction: column;
  width: 13px;
  flex-wrap: nowrap;
  background-color: #e8eaed;
  justify-content: center;
  align-items: center;
  border: solid;
  border-width: 0 1px 0 0;
  border-color: #d3d3d3;
}
.work-area__vertical-ruler {
  padding-top: 6px;
}

.work-area__white-ruler {
  background-color: white;
}
.work-area__vertical-ruler span,
.work-area__white-ruler span {
  color: #3c4043;
  font-size: 10px;
  font-family: "Roboto-Regular", sans-serif;
  transform: rotate(270deg);
  margin: 1px 0;
}

.work-area__horizontal-line_s,
.work-area__horizontal-line_m {
  background-color: #ccced0;
  width: 20%;
  height: 1px;
  border: 0;
  margin: 3.5px 0;
}
.work-area__horizontal-line_m {
  width: 60%;
}

.work-area__paper {
  background-color: #f8f9fa;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
  margin: 8px auto 12px auto;
  width: 100%;
  height: 1000px;
}
.work-area__paper textarea {
  width: 794px;
  min-height: 86.5vh;
  height: 1080px;
  align-self: stretch;
}
@media all and (max-width: 768px) {
  .tools__dots {
    display: flex;
  }
  .tools__min-768,
  .tools__min-1024,
  .tools__editing_name {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tools__dots {
    display: flex;
  }

  .tools__min-1024,
  .tools__editing_name {
    display: none;
  }
}
